
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header{
    width: 100%;
    padding: 1rem 3rem;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: flex-start;

}


header .logo{
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-size: 1.5rem;
    border: 1px solid black ;
    align-self: flex-start;
    
}

header .logo .job{
    color: #ffffff;
    padding: 5px 10px;
    background-color: #000000;
}

header .logo .portal{
    color: #000000;
    padding: 5px 10px;
}


header nav{
    padding: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    justify-self: center;
}

header nav a{
    border: none;
    outline: none;
    text-decoration: none;
    padding: 0px 10px;
    color: #414141;
    font-size: 1rem;
    font-weight: 500;
}

header nav a:hover{
    color: #000000;
}

header .menu{
    display: none;
    justify-self: flex-end;
    padding: 0.5rem 1rem;
}

header .menu i{
    font-size: 2rem;
    color: #414141;
}

header button , .mob{
    border: none;
    outline: none;
    background-color: #b0ade9;
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 600;
    justify-self: flex-end;
    cursor: pointer;
    transition: 0.5s ease;
}

header button:hover , .mob:hover{
    color: #b0ade9;
    background-color: #000000;
}

.nav-menu{
    
    visibility: hidden;
    width: 100%;
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4rem;
    padding: 3rem 0rem;
    text-align: center;
    flex-direction: column;
    background-color: #ffffff;
    transition: 0.5s ease-in-out;
}

.nav-menu a{
    border: none;
    outline: none;
    text-decoration: none;
    padding: 1rem;
    color: #414141;
    font-size: 2rem;
    font-weight: 500;
}

.nav-menu a:hover{
    color: #000000;
}

.hero {
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(450px,1fr));
    /* background-color: #214; */
    animation: fade-up  1s  linear ;
}

.hero .content{
    padding: 2rem 3rem;
    height: fit-content;
    /* background-color: aqua; */
    margin-bottom: 0%;
}

.hero .content h1{
    font-size: 4.5rem;
    font-weight: bold;
}

.hero .content p{
    font-size: 1rem;
    padding: 1rem 0rem;
}



.hero .btns-box{
    /* background-color: rgb(21, 105, 105); */
    position: relative;
    padding: 3rem 3rem 3rem 0rem;
    height: fit-content;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.hero .btns-box .container {
    
    animation: fade-up  1s  linear  ;
    background-color: #b0ade9;
    width: 60%;
    height: 300px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 5% repeat(3,30%) 5%;
    padding: 2rem 5rem 0rem 1rem;
    gap: 0rem 1rem;
    overflow: hidden;
    right: 0;
}

.hero .btns-box .container button{
    height: 50%;
    width: 150px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    font-weight: 500;

    background-color: #ffffff;
}

.hero .btns-box .container button:nth-child(1){
    grid-row: 2;
}

.hero .btns-box .container button:nth-child(2){
    grid-row: 3;
}
.hero .btns-box .container button:nth-child(3){
    grid-row: 4;
    background-color: #000000;
    color: #ffffff;
}

.hero .btns-box .container .img{
    display: inline-block;
    width: 300px;
    height: 400px;
    background-image: url(man.png);
    background-size: 150%;
    background-position: top;
    transform: rotateY(180deg);
    margin-left: 100px ;
    
}

.logos{
    width: 100%;
    padding: 1rem 3rem;
    background-color: transparent;
    /* position: absolute; */
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(150px , 1fr));
    align-items: center;
    justify-items: center;
}

.logos i{
    font-size: 3rem;
    display: inline-block;
    color: #7a7a7a; 
    transition: 0.5s ease;
}

.logos i:hover{
    color: #494949;
}

/*About page starts here*/

.about-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-hero .text{
    
    animation: fade-up  1s  linear ;
    width: 100%;
    padding: 1rem 3rem;
    text-align: center;
}

.about-hero .text h1{
    font-size: 4rem;
}

.about-hero .text p{
    font-size: 1.5rem;
    color: #7a7a7a;
    font-weight: 500;
}

.about-hero .box-container{
    max-width: fit-content; 
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(370px,1fr));
    grid-template-rows: 1fr ;
    justify-items: center;
    gap: 2rem 2rem;
}

.about-hero .box-container .box{
    animation: fade-up  1s  linear ;
    background-color: #fee5c9;
    width: 400px;
    border-radius: 20px;
    padding: 2rem 2rem 0rem;
    overflow: hidden;
    transition: 0.5s ease;
}

.about-hero .box-container .box h2{
    font-size: 3rem;
    line-height: 4rem;
}

.about-hero .box-container .box p{
    font-size: 1.5rem;
    padding: 2rem 0rem;
    font-weight: 500;
}

.about-hero .box-container .box:hover{
    background-color: #b0ade9;
}

.about-hero .box-container .box .inside{
    width: 100%;
    background-color: #ffffff  ;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*Features starts here */

.features-hero {
    margin: 1rem 3rem;
    background-color: #f4f4f0;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.features-hero .text{
    animation: fade-up 0.5s linear;
    text-align: center;
    padding: 1rem 3rem;
}

.features-hero .text h1{
    font-size: 4rem;
}

.features-hero .box-container{
    animation: fade-up 0.5s linear;
    animation-delay: 100ms;
    margin: 2rem 0rem;
    /* background-color: #afaf31; */
    width: 100%;
    padding: 2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    justify-items: center;
}

.features-hero .box-container .box{
    width: 90%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-hero .btn{
    border: none;
    outline: none;
    background-color: #b0ade9;
    font-size: 1.5rem;
    padding: 1rem 4rem;
    font-weight: 600;
    margin: auto;
    cursor: pointer;
    transition: 0.5s ease;
}

.features-hero .btn:hover{
    color: #b0ade9;
    background-color: #000000;
}

.test-hero{
    
    animation: fade-up 0.5s linear;
    margin: 1rem 3rem;
    background-color: #fcffec;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 10rem;
    text-align: center;
}

.test-hero h1{
    font-size: 4rem;
    margin: 0rem 0rem 2rem 0rem;
}

.test-hero p{
    font-size: 1.5rem;
    font-weight: 500;
}

.test-hero button{
    border: 1px solid transparent;
    outline: none;
    color: #fcffec;
    background-color: #000000;
    font-size: 1rem;
    padding: 1rem 4rem;
    border-radius: 20px;
    font-weight: 600;
    margin: 3rem 0rem 0rem 0rem;
    cursor: pointer;
    box-shadow: 0px 2px 14px rgba(0,0,0,0.7);
    transition: 0.5s ease;
}

.test-hero button:hover{
    border: 1px solid #000000;
    background-color: transparent;
    color: #000000;
}

.footer .other{   
    margin:   5rem 3rem 3rem 3rem;
    background-color: #bace4a;
    border-radius: 20px;
    padding: 3rem 10rem;
}

.footer .real{
    border-top: 1px solid #7a7a7a;
    margin:   5rem 3rem 3rem 3rem;
    padding: 2rem 0rem; 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.footer .real .social{
    display: flex;
    gap: 2rem;
}

.footer .real .social i{
    font-size: 1.5rem;
    color: #7a7a7a;
}

.footer .real .social i:hover{
    color: #505050;
}

.footer .real .texts{
    display: flex;
    gap: 2rem;
}

.footer .real .texts a{
    
    font-size: 1rem;
    text-decoration: none;
    color: #7a7a7a;
}

.footer .real  p{
    font-weight: 700;
    color: #7a7a7a;
}

.mob{
    display: none;
}


@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(20%);
    }

    100%{
        opacity: 1;
        transform: translateY(0%);
    }

    
}


@media screen and (max-width : 900px){

    .mob{
        display: none;
    }
    .hero .content{
        text-align: center;
    }

    .hero .btns-box{
        justify-content: center;
        padding: 2rem 0rem;
    }

    header nav {
        display: none;
    }

    header .menu{
        display: block;
    }


    .nav-menu{
        opacity: 0;
        transform: scale(90%);
        visibility: hidden;
    }
    

    .visible{
        visibility: visible;
        opacity: 1;
        transform: scale(100%);

    }

    .footer .real{
        margin-bottom: 1rem;
        gap : 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(450px , 1fr));
    }

    
}


@media screen and (max-width : 600px){
    header{
        padding: 1rem;
    }
    header .logo{
        align-self: center;
        font-size: 1rem;
    }

    header .menu i{
        font-size: 1.5rem;
    }

    header button{
        display: none;
    }

    .mob{
        display: block;
    }

    header .menu{
        grid-column: 3;
    }

    .hero .btns-box{
        padding: 3rem 0rem;
    }

    .hero .btns-box .container {
        width: 250px;
        height: 250px;
    }

    .features-hero .text h1 , .about-hero .text h1 , .hero .content h1{
        font-size: 2rem;
    }



    .features-hero {
        margin: 1rem 2rem;
        width: fit-content;
    }

    .about-hero .box-container{
        padding: 1rem 0rem;
    }

    .about-hero .box-container .box{
        width: 280px;
    }

    .about-hero .box-container .box h2{
        font-size: 2rem;
    }

    .about-hero .box-container .box p , .features-hero .btn , .hero .content p{
        font-size: 1rem;
    }

    .footer{
        max-width: fit-content;
    }
    .footer .real {
        width: fit-content;
        margin:   3rem 0rem 3rem 0rem;
        padding: 1rem 0rem;
    }
    .footer .real .texts a{
        font-size: 0.8rem;
        
    }

    .footer .real .texts {
        gap: 0.5rem;
    }

    .hero .btns-box .container button{

        font-size: 1rem;
        padding: 1% 0.5%;
    }
    
    
.hero .btns-box .container .img{
    
    width: 200px;
    height: 300px;
    background-image: url(man.png);
    background-size: 150%;
    background-position: top;
    transform: rotateY(180deg);
    margin-left: 100px ;
    
}
    .nav-menu a{
        font-size: 1.2rem;
    }
}


